@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.topStick, .stopLight {
    background-color: black;
}

.stopLight{
    width: 60px;
    height: 200px;
    
}
.topStick{
       width: 15px;
    height: 60px; 
}
.light {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.light:not(:last-of-type){
margin-bottom: 5px;
}

.red{
    background: red;
}

.yellow {
    background:orange;
}
.green {
    background:green;
}

.selected{
    box-shadow: 0px 0px 30px yellow;
}